@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1216px;
  padding-top: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.profile {
  height: 142px;
  max-width: 1152px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.share-button {
  position: absolute;
  left: 80%;
  top: -10%;
}
.share-button.small-screen {
  display: none;
}
.share-button.big-screen {
  display: block;
}

.profile-image {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
}

#twitter {
  color: #101828;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
}

#slack {
  display: none;
}
.links {
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.links > * {
  background-color: #eaecf0;
  display: block;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #101828;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}

.externals {
  height: 72px;
  max-width: 1216px;
  background-color: white;
  padding: 24px 0;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 160px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  color: #667085;
  padding-bottom: 2rem;
}

@media (max-width: 640px) {
  #twitter {
    font-size: 18px;
  }

  .links {
    padding-left: 16px;
    padding-right: 16px;
  }

  .links > * {
    font-size: 14px;
    height: 68px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
  }

  .share-button.big-screen {
    display: none;
  }
  .share-button.small-screen {
    display: block;
  }
}

.contact {
  max-width: 1216px;
  padding-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10rem;
}

.contact .inner-container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.contact .heading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.contact .para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  margin-top: 0;
  margin-bottom: 4rem;
}

.contact .form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact .form-control {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contact label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.contact input,
.contact textarea {
  padding: 0px 14px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.contact textarea {
  height: 132px;
  padding-top: 10px;
  resize: none;
}

.contact .twin-form {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.contact .twin-form .form-control {
  flex: 1;
}

.contact .form-check {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact .form-check input {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  background: #ffffff;
}

.contact #btn__submit {
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
